@import '../../../assets/variables.scss';

.banner {
  width: 100%;
  padding: 80px 0;
  background-size: cover;
  background-position: center;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;

  span {
    font-family: $font-bold;
    color: $lightColor !important;
    text-shadow: 2px 0px 9px $darkColor;
  }
}

.logo {
  height: 90px;

  img {
    height: 100%;
  }
}

.detail {
  max-height: calc(100vh - 60px);
  overflow: auto;
  overflow-x: hidden;
}

.image-small{
  width: 20%;
}

.image-medium{
  width: 40%;
}

.image-big{
  width: 100%;
}


.content {
  padding: 20px 20%;
  font-size: 20px;
  line-height: 30px;
}

iframe {
  height: 450px;
}

.session-title {
  padding-top: 20px;
  text-transform: uppercase;
  font-family: $font-bold;
  font-size: 22px;
}

.principal, .info-area {
  margin-bottom: 80px;
}

.info .image {
  margin: 30px 0;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.eps {
  margin-bottom: 20px;

  .list {
    margin-top: 20px;
  }
}

.ep {
  width: 31%;
  color: $lightColor;
  text-decoration: none;
  text-align: center;
  margin-bottom: 50px;

  img {
    width: 100%;
  }

  &:not(.no-link):hover {
    transform: scale(1.1);
  }
}

.no-link {
  cursor: default;
  
  &:hover {
    opacity: 1;
  }
}

.ep-name {
  margin-top: -6px;
  padding: 5px 0;
  background-image: linear-gradient(to right, #f87069, #ff62c7); 
}

@media only screen and (max-width: $mobileSize) {
  .content {
    padding: 20px;
    font-size: 18px;
  }

  .image-small, .image-medium, .image-big {
    width: 100%;
  }

  iframe {
    height: 300px;
  }
  
  .banner {
    background-size: cover;
    padding: 50px 0;
  }

  .logo {
    height: 60px;
  }

  .ep {
    margin: 5px 0;
    width: 100%;
  
    &:hover {
      transform: scale(1);
    }
  }
}