<section [ngClass]="darkmode ? 'dark' : 'light'" class="header theme-header">
  <div class="header-content">
    <a routerLink="" class="logo">WFX</a>
    <div class="links">
      <a routerLink="">Inicio</a>
      <a routerLink="sobre">Sobre</a>
      <a class="icon-link" id="youtube" href="https://www.youtube.com/c/wfxcanal" target="_blank"></a>
      <!--<a class="icon-link" id="instagram" href="https://www.instagram.com/lucaswfx_/" target="_blank"></a>-->
      <a class="icon-link" id="twitter" href="https://twitter.com/lucaswfx_" target="_blank"></a>
    </div>
  </div>
  
  <button (click)="toggleDarkMode()" title="darkmode"></button>
</section>