<section class="theme-content">
  <div class="banner">
    <div class="banner-title">Contato</div>
  </div>
  <div class="content">
    <div class="title">Formas de contato:</div>
    <div class="contact-way">
      Nos envie um e-mail em: <b>contato@wfxproducoes.com</b>
    </div>
    <div class="contact-way">
      Participe da nossa comunidade no <i>Discord</i>, onde ajudamos escritores e artistas com usas ideias:
      <a href="https://discord.gg/6j9Fg8C" target="_blank">  
        <div class="discord-icon">
          <img [src]="'/assets/icons/discord_' + (!isDark ? 'dark' : 'light') + '.png'"/>
        </div>
      </a>
    </div>
    <div class="contact-way">
      Envie-nos uma mensagem no <i>Twitter:</i>
      <a href="https://twitter.com/lucaswfx_" target="_blank">  
        <div class="discord-icon">
          <img [src]="'/assets/icons/twitter_' + (!isDark ? 'dark' : 'light') + '.png'"/>
        </div>
      </a>
    </div>
    <div class="contact-way">
      Responderemos o mais rápido possível e esperamos que possamos ajudar com quaisquer dúvidas, projetos ou problemas que nos traga!
    </div>
  </div>

  <app-footer></app-footer>
</section>