@import '../../../assets/variables.scss';

.banner {
  background-image: url('/assets/images/banner-home.jpg');
  background-size: cover;
  color: $lightColor;
  text-shadow: 2px 0px 9px $darkColor;
  font-size: 40px;
  text-align: center;
  text-transform: capitalize;
  padding: 100px 0;
  background-position: 0 -300px;
}

.banner-title {
  font-family: $font-bold;
}

section {
  max-height: calc(100vh - 60px);
  overflow: auto;
  overflow-x: hidden;
}

.content {
  padding: 40px 30%;
}

.title {
  font-size: 30px;
}

.contact-way {
  margin: 40px 0;
  font-size: 18px;
  line-height: 28px;
}

.discord-icon {
  width: 60px;
  cursor: pointer;
  margin-top: 15px;

  &:hover {
    opacity: 0.6;
  }

  img {
    width: 100%;
  }
}

@media only screen and (max-width: $mobileSize) {
  .content {
    padding: 40px 30px;
  }

  .banner {
    background-position: center;
    background-size: cover;
    padding: 60px 0;
  }

  .discord-icon {
    width: 60px;
    margin-top: 10px;
  }
}