<section #home class="home theme-content">
  <div class="logo-area">
    <div class="logo">
      <img src="/assets/images/logo.png" alt="logo"/>
    </div>
    <div class="about text-shadow">Incentivamos a criatividade, investimos em ideias e ajudamos histórias a criarem vida.</div>
  </div>
  <div class="content theme-content">
    <app-project [project]="project" [isRight]="!!(projects.indexOf(project) % 2)" *ngFor="let project of projects"></app-project>
    <app-categories *ngIf="showCategories"></app-categories>
  </div>
  <app-footer></app-footer>
</section>