@import '../../../assets/variables.scss';

.projects {
  background-image: url('/assets/images/banner-home.jpg');
  background-size: cover;
  max-height: calc(100vh - 60px);
  color: $lightColor;
  overflow: auto;
  overflow-x: hidden;
}

.logo-area {
  height: 300px;
  padding: 50px;
  text-align: center;
}

.content {
  width: 100%;
  padding-bottom: 40px;
}
