/* You can add global styles to this file, and also import other style files */
@import './assets/fonts/fonts.scss';
@import './assets/variables.scss';

* {
  font-family: $font;
  letter-spacing: 3px;
}

body {
  padding: 0;
  margin: 0;
}

.dark .theme-content, .dark .theme-header {
  background-color: $darkColor;
  color: $lightColor;
  transition: 0.3s;
}

.light .theme-content, .light .theme-header {
  background-color: $lightColor;
  color: $darkColor;
  transition: 0.3s;
}

.dark .theme-text, .dark .theme-text a{
  color: $lightColor;
}

.light .theme-text, .light .theme-text a{
  color: $darkColor;
}

.image-shadow {
  transition: 0.3s;
}

.dark .image-shadow {
  box-shadow: 2px 7px 20px 0px $darkColor;
}

.light .image-shadow{
  box-shadow: 2px 7px 20px 0px $lightColor;
}

.theme-border-top {
  margin: 20px 0px;
}

.light .theme-border-top{
  border-top: 1px solid $darkColor;
}

.dark .theme-border-top{
  border-top: 1px solid $lightColor;
  opacity: 0.8;
}

.dark .theme-color{
  background-color: $darkColor;
}

.light .theme-color{
  background-color: $lightColor;
}

.dark .theme-contrast{
  background-color: $lightColor;
}

.light .theme-contrast{
  background-color: $darkColor;
}


.not-found-text {
  font-size: 40px;
  padding: 100px 0;
  text-align: center;
  background-position: center;
  background-size: cover;
  text-transform: uppercase;
  color: $lightColor;
  background-image: url('/assets/images/banner-home.jpg');
  text-shadow: 2px 0px 9px $darkColor;
}

.text-shadow {
  text-shadow: 2px 0px 9px $darkColor;
}

.mobile {
  display: none;
}

a {
  transition: 0.4s;
  
  &:hover {
    opacity: 0.8;
  }
}

.links a, a.theme-text {
  &:hover {
    color: $themeColor;
  }
}


@media only screen and (max-width: $mobileSize) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #969696;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(100, 100, 100);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(32, 32, 32);
}
