.notfound {
  max-height: calc(100vh - 60px);
  overflow: auto;
  overflow-x: hidden;
}

.content {
  width: 100%;
  text-align: center;
}

.banner {
  width: 100%;
  background-image: url('/assets/images/banner-home.jpg');
  background-size: cover;
  background-position: center;
}

h1 {
  margin-top: 100px;
  font-size: 30px;
  text-align: center;
}

.logo {
  width: 100px;
  padding: 50px 0;
  margin-left: calc(50% - 50px);
}

img {
  width: 100%;
}
